.post_page_layout {
	width: 100%;
	height: calc(100% - 70px);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: flex-start;

	.scrollable {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		justify-content: flex-start;
		align-items: center;
		overflow-y: auto;

		.image {
			$padding: 10px;
			width: calc(90% - ($padding * 2));
			min-height: calc(60vh - ($padding * 2));
			margin-top: 5%;
			border-radius: 5px;
			background-color: #303030;
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			border: $padding solid #303030;
		}

		.metadata {
			width: 90%;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
		}

		.title-and-buttons-container {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: space-between;
			align-items: center;

			p.title {
				font-size: 30px;
				font-weight: 500;
			}

            .buttons-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: flex-end;
                align-items: center;

                .button {
                    margin-right: 10px;
                }
            }
		}

        .post-date {
            display: flex;
            flex-direction: row;
            width: 100%;
            text-align: left;
            margin-bottom: 30px;

            .post-date-text {
                margin-right: 5px;
            }

            .date{
                font-weight: 300;
            }
        }

		.user-data {
			width: 100%;
			padding-top: 30px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: flex-start;
			align-items: center;
			padding-bottom: 30px;

			.profile-pic {
				width: 60px;
				height: 60px;
				background: #00000063;
				border-radius: 100%;
				margin-right: 20px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}

            .admin-icon {
                width: 20px;
                height: 20px;
                color: #07f472;
                margin-left: 0.3em;
            }

			.username {
				font-size: 20px;
				font-weight: 500;
				text-decoration: none;
				color: #fff;


				&:hover {
					text-decoration: underline;
					color: rgb(231, 231, 231);
				}
			}

			p {
				font-size: 20px;
			}

			border-top: 1px solid rgba(58, 58, 58, 0.473);
            border-bottom: 1px solid rgba(58, 58, 58, 0.473);
		}

        .tags-label {
            width: 100%;
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: flex-start;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            text-decoration: none;

        }

		.tags-listing {
			width: calc(100% - 20px);
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-content: flex-start;
			justify-content: flex-start;
			align-items: flex-start;
			margin-top: 15px;
			border-radius: 5px;
			padding: 10px;
			background: #1a1a1a59;
			margin-bottom: 240px;

			.tag {
				padding: 5px 20px;
				border-radius: 5px;
				background-color: #1c1b1b;
				margin: 5px;
				cursor: pointer;
			}
		}
	}

    .modal-delete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background-color: #232323;
    padding: 10px;

    }
}
