.post-button {
	position: fixed !important;
}

.profile-layout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 2em 4em 2em 4em;
	flex-wrap: nowrap;
	align-content: center;
	align-items: center;
	padding: 2em 4em 2em 4em;

	.profile-posts {
		width: 90%;
		max-width: 1000px;
		height: fit-content;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: flex-start;
		justify-content: center;
		align-items: flex-start;
	}

	.profile {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		padding: 2em 2em 2em 2em;
		margin-bottom: 2em;
		flex-wrap: nowrap;
		align-content: center;
		background-color: #ffffff10;
		border-radius: 10px;

		.profile-pic {
			width: 8em;
			height: 8em;
			background: #00000063;
			border-radius: 100%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.profile-header-info {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			width: 100%;
			display: flex;
			flex-wrap: nowrap;
			align-content: center;

			.name-and-followers {
				width: 95%;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-content: center;
				justify-content: space-between;
				align-items: center;
				margin-left: 2.5%;
			}

			.profile-name {
				width: 100%;
				font-size: 1.8em;
				font-weight: 600;
				margin-bottom: 0.5em;
				color: #ffffff;
				text-align: left;
			}

			.profile-bio {
				font-size: 1em;
				font-weight: 400;
				margin-bottom: 1em;
			}
		}
	}
}
