.post_selector {
	width: 240px;
	height: 300px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	background: #3c3c3c42;
	padding: 10px 10px 0 10px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: ease-in-out 120ms;

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	&:hover {
		background: #68686842;
		box-shadow: 0 0 10px #0e0e0e;
	}

	.image {
		width: 100%;
		height: 80%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		border-radius: 5px;
		background-color: #0e0e0e3b;
	}

	.metadata_row {
		width: 100%;
		height: 20%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: flex-start;
		justify-content: flex-start;
		align-items: center;
		white-space: nowrap;
		overflow: visible;
		text-overflow: ellipsis;

		.user_info {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: flex-start;
			justify-content: flex-start;
			align-items: center;
			white-space: nowrap;
			overflow: visible;
			text-overflow: ellipsis;

			.user_image {
				width: 2em;
				height: 2em;
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				border-radius: 50%;
				background-color: #0e0e0e3b;
				margin-right: 5px;

				img {
					width: 100%;
					height: 100%;
					border-radius: 50%;
				}
			}

			.username {
				font-size: 12px;
				color: #ffffff;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

            .owner-icon {
                color: #2e7ee3;
                margin-left: 0.3em;
            }

            .admin-icon {
                color: #07f472;
                margin-left: 0.3em;
            }
		}

		p.title {
			margin: 0;
		}

		.container {
			background-color: #404040;
			min-width: 50px;
			padding: 5px 10px;
			border-radius: 5px;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-content: center;
			justify-content: space-between;
			align-items: center;
			margin-right: auto;
			margin-top: auto;
			margin-bottom: auto;
			transition: ease-in-out 120ms;

			p {
				margin: 0;
			}
		}

		.like-button {
			margin: auto;
			margin-right: 0;
		}
	}
}
